{% extends '../base_login.html' %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<style>
    #boton{
        font-size: 30px ;background-color: #ffffff; border: 1px solid #040b14; color: #040b14; font-family: Impact;
    }
    #boton:hover{
        font-size: 30px ;background-color: #040b14; border: 1px solid #ffffff; color: #ffffff; font-family: Impact;
    }
</style>

<a href="{% url 'login' %}" class="btn btn-dark btn-lg btn-block mt-2" style="background-color: #040b14;">Regresar</a>
<body>
    <div class="mt-5">
        <div class="card" style="width: 60%; margin: auto; color: white; background-color: #040b14;">
            <div class="card-body">
                <h2 style="text-align: center;font-size: 40px; font-family: Impact;">Regístrate</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark btn-lg btn-block" id="boton">Crear Usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    const inputs = document.querySelectorAll("input");
    inputs.forEach((input) => {
        input.classList.add("form-control");
    });
</script>

{% endblock content %}